[Unit]
Description=HW05 Bulls and Cows

[Service]
Type=simple
User=bulls
Group=bulls
Restart=on-failure
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/bulls/bulls_and_cows
ExecStart=/bin/bash /home/bulls/bulls_and_cows/start.sh

[Install]
WantedBy=multi-user.target
